.task {
  background-color: #334155;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px #475569 solid;
}

.task:last-child {
  border-bottom: none;
}

.task textarea {
  background-color: #334155;
  color: inherit;
  margin-right: 4px;
  flex: 1;
  font: inherit;
  padding-right: 12px;
  height: 0px;
  min-height: 20px;
  overflow-y: hidden;
  border: none;
  outline: none;
  resize: none;
}

.task.checked textarea {
  text-decoration: line-through 1px #94a3b8 solid;
  color: #94a3b8;
}

.task .edit {
  background-color: transparent;
  color: inherit;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  align-self: center;
  margin-right: 8px;
}

.task .delete {
  background-color: transparent;
  color: inherit;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  align-self: center;
}
