.task {
  background-color: #262d35;
  padding: 14px;
  border-radius: 18px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.task textarea {
  background-color: #262d35;
  color: white;
  margin-right: 4px;
  flex: 1;
  font: inherit;
  padding-right: 12px;
  height: 0px;
  min-height: 20px;
  overflow-y: hidden;
  border: none;
  outline: none;
  resize: none;
}

.task.checked textarea {
  text-decoration: line-through 1px #7c8185 solid;
  color: #7c8185;
}

.task .delete {
  background-color: transparent;
  color: white;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  align-self: center;
}
