.task {
  background-color: #151416;
  padding: 14px;
  border-radius: 18px;
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.task.checked p {
  text-decoration: line-through 1px white solid;
}

.task .delete {
  background-color: transparent;
  color: white;
  border-radius: 50%;
  border: none;
  outline: none;
  margin-left: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task .delete i {
  display: block;
  border-radius: 50%;
  font-size: 16px;
  padding: 2px 4px;
}
