.form {
  max-width: 468px;
  width: 100%;
  margin: 0 auto 8px;
}

.inputBox {
  background-color: #334155;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.14);
}

.inputBox input {
  background-color: transparent;
  padding: 16px;
  font: inherit;
  font-size: 16px;
  color: inherit;
  border: none;
  outline: none;
  width: 100%;
}

.inputBox input::placeholder {
  color: #94a3b8;
}
