.cbButton1 {
  width: 20px;
  height: 20px;
  border: 2px #10c45c solid;
  border-radius: 6px;
  background-color: transparent;
  margin-right: 8px;
  cursor: pointer;
}

.cbButton2 {
  width: 20px;
  height: 20px;
  border: 2px #10c45c solid;
  border-radius: 6px;
  background-color: #10c45c;
  color: #334155;
  margin-right: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
