.cbButton1 {
  width: 20px;
  height: 20px;
  border: 2px #14f373 solid;
  border-radius: 8px;
  background-color: transparent;
  margin-right: 8px;
  cursor: pointer;
}

.cbButton2 {
  width: 20px;
  height: 20px;
  border: 2px #14f373 solid;
  border-radius: 8px;
  background-color: #14f373;
  color: #141d26;
  margin-right: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
