.footer {
  text-align: center;
  color: #94a3b8;
  font-size: 14px;
  padding: 24px 16px;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

@media (hover: hover) {
  .footer a:hover {
    text-decoration: underline 1px #94a3b8 solid;
  }
}

@media (hover: none) {
  .footer a:active {
    text-decoration: underline 1px #94a3b8 solid;
  }
}
