.footer {
  font-size: 18px;
  text-align: center;
  padding: 20px 14px;
}

.footer a {
  text-decoration: none;
  color: #14f373;
}

@media (hover: hover) {
  .footer a:hover {
    text-decoration: underline 1px #14f373 solid;
  }
}

@media (hover: none) {
  .footer a:active {
    text-decoration: underline 1px #14f373 solid;
  }
}
