.outer-container {
  min-height: calc(100vh - 68px);
  margin: auto;
  display: flex;
  flex-direction: column;
}

.main-container {
  padding: 16px;
  background: #10c45c;
  background-image: linear-gradient(45deg, #10c45c 0%, #4151e5 100%);
}

.inner-container {
  flex: 1;
  padding: 16px;
  max-width: 540px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
